VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_API_URL=
VITE_SPARK_TREASURY_CONTRACT_ADDRESS=
VITE_ORACLE_CONTRACT_ADDRESS=
VITE_RANK_UP_LOOT_NFT_ADDRESS=
VITE_CHAIN_ID=
VITE_EXPLORER_URL_FUJI=
VITE_EXPLORER_URL_MAINNET=
